/node_modules
/var/
/vendor/
/public/css/app.*.css
/public/js/app.*.js
/storage/framework/
/storage/backups/
/storage/debugbar/
/storage/tmp/
/storage/framework/cache
/storage/*.key
.env
.env.local
.env.dev
.cache
public/build
