/vagrant_web/var/
/vagrant_web/vendor/
vagrant_web/public/css/app.*.css
vagrant_web/public/js/app.*.js
vagrant_web/storage/framework/
vagrant_web/storage/backups/
vagrant_web/storage/debugbar/
vagrant_web/storage/tmp/
vagrant_web/storage/framework/cache
.env.local
.env.dev
.cache
