/node_modules
/var/
/vendor/
/public/storage
/public/hot
/public/css/app.*.css
/public/js/app.*.js
/storage/framework/
/storage/backups/
/storage/debugbar/
/storage/tmp/
/storage/framework/cache
/storage/*.key
.env
.env.*
!.env.example
.cache
public/build
/database/bible-data/
/.idea
Homestead.json
Homestead.yaml
/Material
