@import "resources/sass/theme";
@import "~vue-select/src/scss/global/variables";

$vs-state-disabled-bg: $sidebar-input-background-colour-disabled;
$vs-border-color: $input-border-color;

.sideBarField {

  @import "~vue-select/src/scss/vue-select.scss";

  font-size: 0.8em;
  margin-bottom: 1em;
  margin-top: 0.5em;

  .label {

    display: flex;

    svg {
      font-size: 1.5em;
      height: 1em;
      width: 1em;
      margin-right: .125em;
    }

    .title {
    }

  }

  .editField {

    input, textarea {
      font-size: 1em;
      border-radius: 0.25em;
      background-color: $sidebar-input-background-colour-active;

      &.valueChanged {
        background-color: $sidebar-input-value-not-saved-yet-background-color;
        border-color: $sidebar-input-value-not-saved-yet-border-color;
      }
    }


    &.disabled {
      input, textarea {
        background-color: $sidebar-input-background-colour-disabled;
        cursor: not-allowed;
      }
    }


  }

  .buttons {
    margin-left: auto; // Pull right
    padding-right: 0.25em;

    .save-button, .cancel-button {
      padding: 0.1rem 0.25rem;
      font-size: 0.55rem;
      position: relative;
      top: -0.25em;
      cursor: pointer;
    }
  }

}