@import "resources/sass/theme";
@import "~vue-select/src/scss/global/variables";

$vs-state-disabled-bg: $sidebar-input-background-colour-disabled;
$vs-border-color: $input-border-color;

@import "~vue-select/src/scss/vue-select.scss";

.sideBarField {
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-top: 0.5em;

  .label {

    display: flex;

    svg {
      font-size: 1.5em;
      height: 1em;
      width: 1em;
      margin-right: .125em;
    }

    .title {
    }

  }

  .editField, .usageField {

    .inputWrapper {
      border-radius: $input-border-radius;
      border: solid $input-border-color $input-border-width;
      background-color: $sidebar-input-background-colour-active;

      input, textarea {
        font-size: 1em;
        line-height: $input-line-height-sm;
        background-color: $sidebar-input-background-colour-active;
        padding: $input-padding-top $input-padding-right $input-padding-bottom $input-padding-left;
        margin: $input-margin-top $input-margin-right $input-margin-bottom $input-margin-left;
        height: auto;
        border: none;

        &.valueChanged {
          background-color: $sidebar-input-value-not-saved-yet-background-color;
          border-color: $sidebar-input-value-not-saved-yet-border-color;
        }

        ::placeholder {
          color: $sidebar-input-text-colour-placeholder;
        }
      }
    }


    &.disabled {

      .inputWrapper {
        background-color: $sidebar-input-background-colour-disabled;

        input, textarea, .content-area {
          background-color: $sidebar-input-background-colour-disabled;
          cursor: not-allowed;
        }
      }
    }

  }

  .buttons {
    margin-left: auto; // Pull right
    padding-right: 0.25em;

    .save-button, .cancel-button {
      padding: 0.1rem 0.25rem;
      font-size: 0.55rem;
      position: relative;
      top: -0.25em;
      cursor: pointer;
    }
  }

}