@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "~vue-select/src/scss/global/variables";


// Hover Colors
$blue-hover: darken($blue, 5%);
$indigo-hover: darken($indigo, 5%);
$purple-hover: darken($purple, 5%);
$red-hover: darken($red, 5%);
$orange-hover: darken($orange, 5%);
$yellow-hover: darken($yellow, 5%);
$green-hover: darken($green, 5%);
$cyan-hover: darken($cyan, 5%);
$dark-hover: darken($dark, 5%);

// Input defaults
$input-padding-top: 8px;
$input-padding-right: 10px;
$input-padding-bottom: 4px;
$input-padding-left: 10px;

$input-placeholder-color: $gray-500;
$input-margin-top: 0;
$input-margin-right: 0;
$input-margin-bottom: 0;
$input-margin-left: 0;


// Notes

$notes-font-color: lighten($body-color, 30%);

// Tagging
$tag-background-colour: $gray-700;
$tag-background-colour-hover: darken($tag-background-colour, 5%);
$tag-progressbar-colour: $green;
$tag-progressbar-colour-hover: $green-hover;
$tag-progressbar-dragging-colour: $orange;
$tag-font-colour: white;


// Sidebar
$sidebar-input-background-colour-active: white;
$sidebar-input-background-colour-disabled: $gray-400;
$sidebar-input-text-colour-placeholder: $input-placeholder-color;

$sidebar-input-value-not-saved-yet-background-color: lighten($red, 35%);
$sidebar-input-value-not-saved-yet-border-color: darken($input-border-color, 30%);

// Sidebar-Tagging
$sidebar-input-font-color-active: #333;
$sidebar-tag-background-color-active: $gray-300;
$sidebar-tag-relevance-colour-active: lighten($blue, 35%);

$sidebar-input-font-color-active-hover: darken($sidebar-input-font-color-active, 5%);
$sidebar-tag-background-color-active-hover: darken($sidebar-tag-background-color-active, 5%);
$sidebar-tag-relevance-colour-active-hover: darken($sidebar-tag-relevance-colour-active, 5%);
$sidebar-tag-relevance-colour-active-dragging: $orange-hover;

$sidebar-input-font-color-disabled: $input-color;
$sidebar-tag-background-color-disabled: $gray-300;
$sidebar-tag-relevance-colour-disabled: $gray-400;

$sidebar-input-padding-top: 1px;
$sidebar-input-padding-right: $input-padding-right;
$sidebar-input-padding-bottom: 1px;
$sidebar-input-padding-left: $input-padding-left;
