@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Hover Colors
$blue-hover: darken($blue, 5%);
$indigo-hover: darken($indigo, 5%);
$purple-hover: darken($purple, 5%);
$red-hover: darken($red, 5%);
$orange-hover: darken($orange, 5%);
$yellow-hover: darken($yellow, 5%);
$green-hover: darken($green, 5%);
$cyan-hover: darken($cyan, 5%);
$dark-hover: darken($dark, 5%);

// Tagging
$tag-background-colour: $gray-700;
$tag-background-colour-hover: darken($tag-background-colour, 5%);
$tag-progressbar-colour: $green;
$tag-progressbar-colour-hover: $green-hover;
$tag-progressbar-dragging-colour: $orange;
$tag-font-colour: white;


// Sidebar
$sidebar-input-background-colour-active: white;
$sidebar-input-background-colour-disabled: $gray-300;

// Sidebar-Tagging
$sidebar-input-font-color-active: #333;
$sidebar-tag-background-color-active: $gray-300;
$sidebar-tag-relevance-colour-active: lighten($blue, 35%);

$sidebar-input-font-color-disabled: $gray-600;
$sidebar-tag-background-color-disabled: $gray-300;
$sidebar-tag-relevance-colour-disabled: $gray-400;
