$my-green: #3bc048;
$my-green-hover: #31963e;


// Tagging
$tag-background-colour: #5f5e60;
$tag-progressbar-default-colour: $my-green;
$tag-progressbar-dragging-colour: #3bbec0;
$tag-background-colour: #5f5e60;
$tag-font-colour: white;

// Flag-Colours
$flag-all-background-color: white;
$flag-all-hover-color: $tag-background-colour;
$flag-green-colour: $tag-progressbar-default-colour;
$flag-green-colour: $tag-progressbar-default-colour;
